{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "object-curly-spacing": [2, "always"],
    "require-jsdoc": 0,
    "max-len": 0
  },
  "env": {
    "es6" : true,
    "node": true
  }
}